{{ form_start(form) }}

    <p><a href="{{ path('dashboard_news_index') }}">Back to list</a></p>

    {{ form_widget(form) }}   
    
    <button class="btn btn-success">Save</button>
{{ form_end(form) }}
