{% extends 'dashboard/base.html.twig' %}

{% block title %}Редактирование{% endblock %}

{% block body %}
    <h4>Редактирование</h4>

    {{ include('dashboard/services/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dashboard_services_index') }}">Назад к спсику</a>

    {{ include('dashboard/services/_delete_form.html.twig') }}
{% endblock %}
