{% extends 'dashboard/base.html.twig' %}

{% block title %}New Services{% endblock %}

{% block body %}
    <h4>Add Service</h4>

    {{ include('dashboard/services/_form.html.twig') }}

    <a href="{{ path('dashboard_services_index') }}">Назад к списку</a>
{% endblock %}
