{% extends 'dashboard/base.html.twig' %}

{% block title %}New Delivery{% endblock %}

{% block body %}
    <h4>Add Delivery</h4>

    {{ include('dashboard/delivery/_form.html.twig') }}

    <a href="{{ path('dashboard_delivery_index') }}">back to list</a>
{% endblock %}
