{% extends 'dashboard/base.html.twig' %}

{% block title %}New Payments{% endblock %}

{% block body %}
    <h4>Add Payments</h4>

    {{ include('dashboard/payments/_form.html.twig') }}

    <a href="{{ path('dashboard_payments_index') }}">back to list</a>
{% endblock %}
