{% extends 'dashboard/base.html.twig' %}

{% block title %}Edit Certificates{% endblock %}

{% block body %}
    <h1>Edit Certificates</h1>

    {{ include('dashboard/certificates/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dashboard_certificates_index') }}">back to list</a>

    {{ include('dashboard/certificates/_delete_form.html.twig') }}
{% endblock %}
