{% extends 'dashboard/base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <h4>Add Articles</h4>

    {{ include('dashboard/articles/_form.html.twig') }}

    <a href="{{ path('dashboard_articles_index') }}">back to list</a>
{% endblock %}
