{% extends 'dashboard/base.html.twig' %}

{% block title %}Edit Reviews{% endblock %}

{% block body %}
    <h1>Edit Reviews</h1>

    {{ include('dashboard/reviews/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dashboard_reviews_index') }}">back to list</a>

    {{ include('dashboard/reviews/_delete_form.html.twig') }}
{% endblock %}
