{% extends 'dashboard/base.html.twig' %}

{% block title %}New Reviews{% endblock %}

{% block body %}
    <h4>Add Reviews</h4>

    {{ include('dashboard/reviews/_form.html.twig') }}

    <a href="{{ path('dashboard_reviews_index') }}">back to list</a>
{% endblock %}
