{% extends 'base.html.twig' %}

{% block title %}Your order successfuly created{% endblock %}

{% block body %}

<div class="container">
    <div class="card">
        <div class="card-body">
        <h3>Your order successfuly created</h3>
        </div>
    </div>
</div>

{% endblock %}