{% extends 'dashboard/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h3>Create new User</h3>

    <p><a href="{{ path('user_index') }}">back to list</a></p>

    {{ include('dashboard/user/_form.html.twig') }}

{% endblock %}
